<div class="mine_warp" >
    <div class="headOne" >
        <div class="bgCircular return returnOne" onclick="backPage()"></div>
        <!--<div class="bgCircular more moreOne"></div>-->
        <!--<div class="bgCircular shoppingCart shoppingCartOne ui_btn" data-action="go_shoppingcar"></div>-->
    </div>


    <!-- 导航 -->
    <!--<div class="new" id="sDNew" data-state="hide" style="top:45px;">-->
        <!--<div class="list" style="position: relative; height: 5px;">-->
            <!--<div class="triangle-down"></div>-->
        <!--</div>-->
        <!--<div class="list ui_btn" data-action="com_index" style="background-image: url(images/new/homePage.png); background-color: #666;">首页</div>-->
        <!--<div class="list ui_btn" data-action="com_customer" style="background-image: url(images/new/homePage.png); background-color: #666;">客服</div>-->
        <!--<div class="list ui_btn" data-action="com_mine" style="background-image: url(images/new/homePage.png); background-color: #666;">我的</div>-->
        <!--<div class="list ui_btn" data-action="com_dianpu" style="background-image: url(images/new/homePage.png); background-color: #666;">店铺简介</div>-->
        <!--<div class="list ui_btn" data-action="com_fenxiang" id="newShare" style="background-image: url(images/new/homePage.png); background-color: #666; border-bottom: 0;" >分享</div>-->
    <!--</div>-->
    <!-- 导航 -->

    <!--<div class="position" style="height: 44px;"></div>-->
    <!--暂无信息-->
    <div class="billingDetailsError" style="display: none">
        <div class="billingDetailsError_top shareCommodityError"></div>
        <p>该商品暂无评价，等你来 <span style="color:#007CC3">发表第一条评价</span></p>
    </div>
    <div class="pingJia">
        <div class="evaluationArea breadth">
            <div class="evaluationArea_top">
                <div class="figure"></div>
                <span style="font-size: 14px;">昵称</span>
                <span>创客</span>
                <span style="color: #666" class="warp_Rg">浏览次数：11</span>
            </div>

            <div class="speechArea">
                <p style="color: #666">2017.08.29</p>
                <div class="speech">商品很好商品很好商品很好商品很好商品很好商品很好商品很好商品很好</div>
                <div class="speechPhoto">
                    <div class="photoArea"></div>
                    <div class="photoArea"></div>
                    <div class="photoArea"></div>
                </div>
                <div class="clear"></div>
                <!--<div class="reply">-->
                    <!--<div class="triangle"></div>-->
                    <!--<span style="font-size: 14px;">店家回复</span>-->
                    <!--<span>颜色：黑色颜色：黑色颜色：黑色颜色：黑色颜 色：黑色颜色：黑色颜色：黑色颜色：黑色 拷</span>-->
                <!--</div>-->

            </div>
        </div>
    </div>
</div>
<!--<div class="footNavBar" style="border-top: 1px solid #eee; border-bottom: 1px solid #eee;">-->
    <!--<div class="left fL">-->
        <!--<div class="goCart fL ui_btn" data-action="go_shoppingcar">购物车</div>-->
        <!--<div class="shop fL ui_btn" data-action="shop_room">店铺</div>-->
        <!--<div class="collection fL uiBtn coll" data-motion="addcoll" id="collection">收藏</div>-->
    <!--</div>-->
    <!--<div class="right fL">-->
        <!--<div class="joinCart fL">加入购物车</div>-->
        <!--<div class="purchase fL ui_btn" data-action="shppping">立即购买</div>-->
    <!--</div>-->
<!--</div>-->