
<div style="width: 100%; height: 44px;"></div>
<div class="mine_warp">
  <div class="mine_top">
    <div class="end" onclick="backPage()"></div>消息
  </div>
  <div id="xiaoxi">
    <!--<div class="information_nav  ui_btn" data-ids="2" data-action="viewMessage">-->
      <!--<img src="images/news/logistics.png" alt="" class="information_icon"/>-->
      <!--<div class="information_txt">-->
        <!--<span class="namessss">物流消息</span>-->
        <!--<span style="float: right">17/04/19</span>-->
        <!--<span>订单已发货！您购买的【天猫超市】自然的风榉木风榉木风榉木风榉木</span>-->
        <!--<hr/>-->
      <!--</div>-->
    <!--</div>-->
  </div>
 </div>
