
<div style="width: 100%; height: 44px;"></div>
<div class="mine_warp">
  <div class="mine_top">
    <div class="end" onclick="backPage()"></div>消息
  </div>
  <div class="information_nav  ui_btn" data-ids="2" data-action="viewMessage" > <img src="images/news/logistics.png" alt="" class="information_icon"/>
    <div class="information_txt"> <span class="namessss">物流消息</span><span style="float: right">17/04/19</span> <span>订单已发货！您购买的【天猫超市】自然的风榉木风榉木风榉木风榉木</span>
      <hr/>
    </div>
  </div>
  <div class="information_nav  ui_btn" data-ids="7" data-action="viewMessage"> <img src="images/news/scanCode.png" alt="" class="information_icon"/>
    <div class="information_txt"> <span class="namessss">扫码支付消息</span><span style="float: right">17/04/19</span> <span>订单已发货！您购买的【天猫超市】自然的风榉木自然的风榉木纸巾</span>
      <hr/>
    </div>
  </div>
  <div class="information_nav  ui_btn" data-ids="11" data-action="viewMessage"> <img src="images/news/tidings.png" alt="" class="information_icon"/>
    <div class="information_txt"> <span class="namessss">公告消息</span><span style="float: right">17/04/19</span> <span>订单已发货！您购买的【天猫超市】自然的风榉木纸巾</span>
      <hr/>
    </div>
  </div>
  <div class="information_nav  ui_btn" data-ids="14" data-action="viewMessage"> <img src="images/news/imazamox.png" alt="" class="information_icon"/>
    <div class="information_txt"> <span class="namessss">金豆消息</span><span style="float: right">17/04/19</span> <span>订单已发货！您购买的【天猫超市】自然的风榉木纸巾</span> </div>
  </div>
  <!--<div class="information_nav  ui_btn" data-ids="12" data-action="viewMessage"> <img src="images/news/logistics.png" alt="" class="information_icon"/>-->
    <!--<div class="information_txt"> <span class="namessss">商家消息</span><span style="float: right">17/04/19</span> <span>订单已发货！您购买的【天猫超市】自然的风榉木纸巾</span> </div>-->
  <!--</div>-->
  <div class="information_nav  ui_btn" data-ids="3" data-action="viewMessage"> <img src="images/news/icon_01.png" alt="" class="information_icon"/>
    <div class="information_txt"> <span class="namessss">分佣消息</span><span style="float: right">17/04/19</span> <span>订单已发货！您购买的【天猫超市】自然的风榉木纸巾</span> </div>
  </div>
  <div class="information_nav  ui_btn" data-ids="13" data-action="viewMessage"> <img src="images/news/icon_02.png" alt="" class="information_icon"/>
    <div class="information_txt"> <span class="namessss">充值消息</span><span style="float: right">17/04/19</span> <span>订单已发货！您购买的【天猫超市】自然的风榉木纸巾</span> </div>
  </div>
 </div>
