
<div class="index_warp">
    <div class="index_top">
        <div class ="ui_btn" data-action="seach"><img src="./images/index/seach.png" alt=""class="warp_Lt"/></div>
        <div class ="ui_btn" data-action="information" ><img src="./images/index/dialog.png" alt=""class="warp_Rg" /></div>
    </div>
    <div class="swiper-container swiper1" style="background: #fff;overflow: hidden;height:290px;">
        <div class="swiper-wrapper" id="swiper_sort">
            <!--<div class="swiper-slide index_head ui_btn" data-action="banner_link"><img src="images/index/banner.png" alt=""></div>-->
        </div>
    </div>
    <div class="index_nav">
        <div class="category" onclick="alertBtn()" data-action="classification"><img src="./images/index/rouge.png" alt="" class="category_logo"/><div class="clear"></div><span>个人彩妆</span></div>
        <div class="category" onclick="alertBtn()" ><img src="./images/index/luggage.png" alt="" class="category_logo"/><div class="clear"></div><span>旅行酒店</span></div>
        <div class="category" onclick="alertBtn()" ><img src="./images/index/teach.png" alt="" class="category_logo"/><div class="clear"></div><span>教育培训</span></div>
        <div class="category ui_btn" data-action="recharge"><img src="./images/index/dowload.png" alt="" class="category_logo"/><div class="clear"></div><span>充值</span></div>
        <div class="category" data-action="classification" onclick="alertBtn()" ><img src="./images/index/apply.png" alt="" class="category_logo"/><div class="clear"></div><span>更多</span></div>
    </div>
    <div class="index_among">
        <div class="among_top">商家自营</div>
        <div class="among_thread"></div>
        <div class="among_autotrophy" onclick="alertBtn()" data-action="payment" style="float: right;background-image: url(./images/index/sm.png);background-size: 100% 112px"></div>
        <div class="among_autotrophy" onclick="alertBtn()" data-action="raise"  style="float: right;background-image: url(./images/index/gy.png);background-size:100% 112px"></div>
    </div>
    <div class="index_fireStorm">
        <div class="fireStorm_top ">火爆商品</div>
        <div class="swiper-container swiper2">
            <div class="swiper-wrapper" id="swiper_hot">
            </div>
        </div>
        <div class="styleBlack" style="height:260px;width:100%;background: #fff;display: none;overflow: hidden;">
            <ul>
                <li>
                    <div class="styleBlack_01">
                        <div class="styleBlack_left"><img src="images/index/icon_001.png" alt=""></div>
                        <div class="styleBlack_right">
                            <p>时尚运动棒球帽</p>
                            <p>￥66.00</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="styleBlack_01">
                        <div class="styleBlack_left"><img src="images/index/icon_001.png" alt=""></div>
                        <div class="styleBlack_right">
                            <p>时尚运动棒球帽</p>
                            <p>￥66.00</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="styleBlack_01">
                        <div class="styleBlack_left"><img src="images/index/icon_001.png" alt=""></div>
                        <div class="styleBlack_right">
                            <p>时尚运动棒球帽</p>
                            <p>￥66.00</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="styleBlack_01">
                        <div class="styleBlack_left"><img src="images/index/icon_001.png" alt=""></div>
                        <div class="styleBlack_right">
                            <p>时尚运动棒球帽</p>
                            <p>￥66.00</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div><img src="images/index/icon_002.png" alt="" style="width:100%;"></div>
        </div>
        <div class="styleRed" style="height:220px;width:100%;background: #fff;display: none;">
            <table style="border: 1px solid #eee;" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p><img src="images/index/icon_001.png" alt=""></p>
                        <p>萨达</p>
                    </td>
                    <td>
                        <p><img src="images/index/icon_001.png" alt=""></p>
                        <p>时尚运动棒球帽</p>
                    </td>
                    <td>
                        <p><img src="images/index/icon_001.png" alt=""></p>
                        <p>时尚运动棒球帽</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><img src="images/index/icon_001.png" alt=""></p>
                        <p>时尚运动棒球帽</p>
                    </td>
                    <td>
                        <p><img src="images/index/icon_001.png" alt=""></p>
                        <p>时尚运动棒球帽</p>
                    </td>
                    <td>
                        <p><img src="images/index/icon_001.png" alt=""></p>
                        <p>时尚运动棒球帽</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="index_guessYoulike">
        <div class="guessYoulike_top">猜你喜欢</div>
        <div id="max_width">
        </div>
        <div class="guessYoulike_top" style="color:#ccc">已经到最底部</div>
    </div>
</div>

<div style=" width: 100%; height: 20px; background-color:#eee;"></div>
