
<div class="index_warp" style="background-color: #f7f7f7">
    <div class="rankThrough_top">
        <div class="rankThrough_search">
            <div class="rankThrough_searchArea warp_Lt">
                <div class="rankThrough_searchSel ui_btn" data-action="searchSel_demo" id="more" style="cursor: pointer;">
                    <div id="searchSel_demo"    style="padding-left: 25%;cursor: pointer;position: relative;z-index: 99999999;">商家<span style="float:right;margin-right: 20%;"><img src="images/index/icon_01.png" alt=""></span></div>
                    <!--<div>店铺</div>-->
                    <!-- 导航 -->
                    <a id="PPPP" style="display: block">
                        <div class="new" id="sDNew"  style="top:35px; width:30%;left: 25px;">
                            <div class="list CCCCC" style="position: relative; height: 5px;background: #007cc3;">
                                <div class="triangle-down" style="left:26px;"></div>
                            </div>
                            <div class="list ui_btn PPPPPPP" data-action="asdasdas" data-side="1"  style="background-color: #666;text-align: center;text-indent: inherit;font-size: 14px;">商家</div>
                            <div class="list ui_btn PPPPPPP" data-action="asdasdas" data-side="2"  style="background-color: #666;text-align: center;text-indent: inherit;font-size: 14px;">商品</div>
                        </div>
                    </a>
                    <!-- 导航 -->
                </div>
                <input type="text" value="" id="searchdd"/>
                <div class="searchIcon ui_btn" data-action="scearchssss" id="search" style="z-index: 99999;"></div>
            </div>
            <span class="warp_Rg ui_btn" data-action="warp_Rg" style="color: #fff;" id="btn" >取消</span>
        </div>
    </div>
    <div class="rankThrough_history" style="margin-top: 64px;">
        <div class="history">
            <div class="rankThrough_historyTop">
                <span class="warp_lt" style="color: #000;font-size: 16px;">历史记录</span>
                <div class="del warp_Rg ui_btn" data-action="del"></div>
            </div>
            <div class="rankThrough_historyArea">
                <div class="rankThrough_record" id="rankThrough_record">
                    <!--<div class="rankThrough_historyIcon ui_btn" data-action="shopping_list">连衣裙</div>-->
                </div>




            </div>
        </div>
        <!--<div class="hot">-->
            <!--<div class="rankThrough_historyTop">-->
                <!--<span class="warp_lt" style="color: #000;font-size: 16px;">精品推荐</span>-->
                <!--<div class="eye warp_Rg"></div>-->
            <!--</div>-->
            <!--<div class="rankThrough_historyArea" style="line-height: 50px;text-align: center">-->
                <!--<span class="searchInput">当前搜索发现已经关闭</span>-->
                <!--<div class="rankThrough_record" style="margin-top: 20px;">-->
                    <!--<div class="rankThrough_historyIcon">连衣裙</div>-->
                    <!--<div class="rankThrough_historyIcon">连衣裙</div>-->
                    <!--<div class="rankThrough_historyIcon">连衣裙</div>-->
                    <!--<div class="rankThrough_historyIcon" style="margin-right: 1%">连衣裙</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>


</div>

<div id="fixed_close">
    <div class="search_close">
        <p>是否删除您的历史记录！</p>
        <div>
            <span id="del" class="ui_btn" data-action="dels">删除</span>
            <span id="cel" class="ui_btn" data-action="cels">取消</span>
        </div>
    </div>
</div>

