<div id="hxr">
	<div class="top">
		<div class="return" onclick="backPage()" style="background-image: url(images/hxrImg/mine_03.png);background-size: 15px;"></div>
		<div id="more"><img src="images/hxrImg/mine_05.png" alt=""></div>
	</div>

	<div class="msHead" style="background-image: url(images/hxrImg/mine_01.png)">
		<p><img src="" alt=""></p>
		<p id="name">昵称</p>
		<p id="mineSf">我的身份</p>
	</div>

	<div class="information">
		<div class="ui_btn" data-action="qianbao">
			<p class="informationMoney"></p>
			<p>钱包</p>
		</div>
		<div class="ui_btn" data-action="jifen">
			<p class="informationJf"></p>
			<p>积分</p>
		</div>
	</div>

	<div class="superiorData">
		<div class="msList name ui_btn" data-action="myTj"><div>我的推荐人</div><div><img src="images/hxrImg/mine_04.png" alt=""></div></div>
		<div class="msList name ui_btn" data-action="myYq"><div>我邀请的人</div><div><img src="images/hxrImg/mine_04.png" alt=""></div></div>
		<div class="msList name ui_btn" data-action="myFys"><div>我的分佣</div><div><img src="images/hxrImg/mine_04.png" alt=""></div></div>
	</div>
</div>

