
	<div class="position" style=" height: 44px;"></div>
	
	<div class="cTop">
		<div class="return" onclick="backPage()"></div>
		我邀请的人
	</div>

	<div class="cHead" style="border-bottom: 1px solid #eee;">
		<div class="pic">
		</div>
		<div class="name"></div>

		<div class="smData">
			<div class="cTitle fL">
					<!--平台身份:创客-->
			</div>
			<div class="cTitle fR">
					<!--获得的佣金:	1212	-->
			</div>
		</div>
	</div>

	<!-- 创客 -->
	<div class="numberList" style="display: block;border-top: 1px solid #eee;margin-top: 10px;" id="type0">
		<div class="list_sort" style="display: block;" id="side1">
			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">1昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>
		</div>
	</div>


