
<div class="position" style=" height: 44px;"></div>

<div class="cTop">
	<div class="return" onclick="backPage()"></div>
	我邀请的人
</div>

<div class="cHead">
	<div >
		<img style="width: 70px;border-radius: 50%;margin-left: 41%;margin-top: 10px" id="img_hd" src="" alt="">
	</div>

	<div class="name" id="Name_clt">11111</div>

	<div class="smData">
		<div class="cTitle fL">
			级别： <span id="Jb_num">A</span>
		</div>
		<div class="cTitle fR">
			共邀请： <span id="resnu">11</span>人
		</div>
	</div>
</div>

<!-- 创客 -->
<div class="numberList" style="display: block;" id="type0">
	<!--<div class="list_sort" style="display: block;" id="side1">-->
		<!--<div class="cList">-->
		<!--<div class="cfHead fL">-->
		<!--<img src="images/storeDetails/head.png">-->
		<!--</div>-->
		<!--<div class="cfData fL">-->
		<!--<div class="name">1昵称</div>-->
		<!--<div class="howManyPeople">共邀请*人</div>-->
		<!--</div>-->
		<!--<div class="cfTime fR">2017.03.04</div>-->
		<!--</div>-->
	<!--</div>-->
</div>


