
<div class="recharge_warp" style="background: #f7f7f7;">
  <div class="store_top personal_top" style="color: #333;"><div class="end" onclick="backPage()"></div>充值记录 </div>
</div>
<div class="czjl_top">
  <div id="czjl_sort" class="ui_btn" data-action="czjl_sort">
    <span>全部</span>
    <img src="images/InitiateDonation/arrow.png" alt="">
    <div id="czjl_sorts">
    </div>
  </div>
  <div id="czjl_time">
    <input onClick="laydate()" id="startTime"> 至 <input id="endTime" > <img src="images/icon_004.png" alt="" class="ui_btn" data-action="Time" style="width:40px;height:20px;margin-left: 20px;">
  </div>
</div>
<div class="czjl_nav">
  <p class="czjl_nav_01">类型</p>
  <p class="czjl_nav_02">号码</p>
  <p class="czjl_nav_03">金额</p>
  <p class="czjl_nav_04">状态</p>
  <p class="czjl_nav_05">时间</p>
</div>
<div class="czjl_detail">
  <ul>
    <li></li>
  </ul>
</div>