
    <div class="csTop">
        <div class="return" onclick="backPage()"></div>
        客服
    </div>

    <div class="telephoneService">
        <div class="csTelephone">
            <div class="csNumber">客服热线:0571-56623110</div>
            <a href="tel:0571-56623110"><div class="pic"></div></a>
        </div>
    </div>

    <div class="qqService">
        <div class="qq">
            <a style="color: #333;" href="javascript:void(0);" onclick='window.location.href = "mqqwpa://im/chat?chat_type=wpa&uin=1411351799&version=1&src_type=web&web_src=oicqzone.com"'>
                <div class="pic"></div>
                <div class="csNumber">QQ客服：1411351799</div>
            </a>
        </div>
    </div>

