
	<div class="bcTop">
		<div class="return ui_btn" data-action="bk"></div>
		添加银行卡
		<div class="add ui_btn" data-action="goInAddCard"></div>
	</div>

	<div class="position" style="height: 44px;"></div>

	<div id="bankCard">
		<!--<div class="card buildBg">-->
			<!--<div class="cardLogo fL">-->
				<!--<img src="images/storeDetails/build.png">-->
			<!--</div>-->
			<!--<div class="cardInformation fL">-->
				<!--<div class="bcTitle">我的银行卡</div>-->
				<!--<div class="type">储蓄卡</div>-->
				<!--<div class="number">123456 1234567896321</div>-->
			<!--</div>-->
			<!--<div class="paymentLogo"></div>-->
		<!--</div>-->
	</div>

