
<div class="position" style=" height: 80px;"></div>

<div class="mcTop" style=" z-index: 9999999;">
	<div class="return ui_btn" data-action="bk"></div>
	我的收藏
	<div class="edit eYes ui_btn" data-action="edit">编辑</div>
</div>

<div class="CollectionType">
	<div class="type commodity fL ui_btn" data-action="type_commodity" data-motion="" style="color: red;">商品</div>
	<div class="type business fL ui_btn" data-action="type_business" >商家</div>
</div>


<div class="type_tab" id="side1" style="display: block;">
	<div class="shareCommodity">

		<div class="paragraph " >
			<!--<div class="but wYes fL ui_btn" data-action="select"  style="display: none;"></div>-->
			<div class="wholeSelect wYes fL">
				最近收藏
			</div>
		</div>

		<div class="sccc">
			<!--<div class="list">-->
				<!--<div class="select fL ">-->
					<!--<div class="but wYes  ui_btn" data-action="single"></div>-->
				<!--</div>-->
				<!--<div class="commodity fL">-->
					<!--<div class="pic fL">-->
						<!--<img src="images/storeDetails/sharePic.png">-->
					<!--</div>-->
					<!--<div class="content fL">-->
						<!--<div class="title">控油极男水油平衡</div>-->
						<!--<div class="introduce">男士护肤品套装控油极男水油平衡套装补水保湿爽肤水</div>-->
						<!--<div class="salesVolume" style="margin-top: 0;">-->
							<!--<span class="fL">￥300</span>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="more fR ui_btn" data-action="more" >-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="singleDelete">删除</div>-->
			<!--</div>-->
		</div>

	</div>
</div>
<div class="type_tab" id="side2">
	<div class="shareCommodity">
		<div class="cccss">
			<!--<div class="list">-->
				<!--<div class="select fL ">-->
					<!--<div class="but wYes ui_btn" data-action="single"></div>-->
				<!--</div>-->
				<!--<div class="commodity fL">-->
					<!--<div class="pic fL">-->
						<!--<img src="images/storeDetails/sharePic.png">-->
					<!--</div>-->
					<!--<div class="content fL">-->
						<!--<div class="title">控油极男水油平衡</div>-->
						<!--<div class="mcIntroduce">-->
							<!--男士护肤品套装控油极男水油平衡套装补水保湿爽肤水-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="more fR ui_btn" data-action="more">-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="singleDelete">删除</div>-->
			<!--</div>-->
		</div>
	</div>
</div>




<div class="editWhole" style=" display: none;">
	<div class="wholeDelete fL ui_btn" data-action="del">删除</div>
</div>

<div class="positionBottom" style=" display: none;"></div>


<!-- 更多 -->
<div class="moreModules" style="display: none;">
	<div class="moreModulesType">
		<div class="type"></div>
		<div class="type" style=" margin:0 10px;"></div>
		<div class="type"></div>
	</div>
	<div class="mcCancel ui_btn" data-action="cancel" >取消</div>
</div>

<!-- 遮罩 -->
<div class="bgMask ui_btn" data-action="cancel" id="bgMask" style="display: none;"></div>
<!-- 遮罩 -->
<!--顶层遮罩、用于阻止删除事件-->
<div id="top_fixed" class="ui_btn" data-action="fixed"></div>
<div id="bottom_fixed" class="ui_btn" data-action="b_fixed" ></div>

