
<div class="mine_warp">
    <!--头部-->
    <div class="store_top" >
        <div class="end" onclick="backPage()"  id="fs" ></div>
        <span>退款/售后</span>
    </div>
    <!--全部-->
    <div class="myOrder" style="margin-top: 44px;">
        <!--<div class="shoppingCart_wareArea">-->
        <!--&lt;!&ndash;头部店铺选择&ndash;&gt;-->
        <!--<div class="shoppingCart_wareStore">-->
        <!--<div class="shop"></div>-->
        <!--<span class="warp_Lt">店铺名</span>-->
        <!--<div class="quiet"></div>-->
        <!--<span class="warp_Rg myOrder_reveal" >卖家已发货</span>-->
        <!--</div>-->
        <!--&lt;!&ndash;商品属性展示区&ndash;&gt;-->
        <!--<div class="shoppingCart_wareDetails" style="height: 105px">-->
        <!--<div class="shoppingCart_wareDetailTxt">-->
        <!--<div class="print"></div>-->
        <!--<div class="shoppingCart_wareTxt">-->
        <!--<div class="myOrder_revealArea warp_Lt">-->
        <!--<span class="warp_lC" style="height: 30px;">控油极男水油平衡套装男士护肤品套装控油极男水油平衡套</span>-->
        <!--<span style="color: #cccccc;display: block">颜色分类：黑色</span>-->
        <!--<div class="myOrder_quality">七天包退</div>-->
        <!--</div>-->
        <!--<div class="myOrder_reverlAreaL warp_Rg">-->
        <!--<span style="color:#E60012">￥40.00</span>-->
        <!--<span style="text-decoration:line-through;">￥40.00</span>-->
        <!--<br/><br/>-->
        <!--<span>X1</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;结算区&ndash;&gt;-->
        <!--<div class="myOrder_settlementArea breadth bB">共1件商品 合计：<span style="font-size:.9875rem">¥ 40.00</span>(含运费¥0.00)</div>-->
        <!--<div class="myOrder_settlementArea breadth" style="padding-top: 3px;height: 32px;">-->
        <!--<div class="settlementBtn warp_Rg changeBtn">付款</div>-->
        <!--<div class="settlementBtn warp_Rg">取消订单</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>

</div>
