
	<div class="addTop">
		<div class="return" onclick="backPage()"></div>
		修改银行卡
		<span style="color: #fff;float:right;" class="ui_btn" data-action="del" >删除</span>
	</div>

	<div class="prompt">请绑定持卡本人的银行卡</div>

	<div class="addZone">
		<div class="list">
			<div class="name fL">持卡人</div>
			<!-- <input type="text" name="" placeholder="姓名"> -->
			<input type="text" name="" value="" id="BankCardName" placeholder="自动获取名字">
			<div class="addClear" id="addClearsss" ></div>
		</div>
		<div class="list">
			<div class="name fL">卡号</div>
			<input type="text" name="" value="" id="BankCardNumber" placeholder="无需网银">
			<div class="addClear" id="addClear" ></div>
		</div>
		<div class="list">
			<div class="name fL">所属银行</div>
			<input type="text" name="" value="" id="BankCardBank" placeholder="所属银行">
			<div class="addClear" id="addClears"></div>
		</div>
		<div class="list" style="border: 0;">
			<div class="name fL">手机号</div>
			<input type="text" name="" value="" id="BankCardPhone" placeholder="所属手机" disabled="disabled" style="background: #fff;">
		</div>
	</div>
<div id="banknoInfo"></div>
	<!-- <div class="submit">提交</div> -->
	<div class="submit ui_btn" data-action="goInAddSuccess">完成修改</div>
	<!--<div class="submit ui_btn" data-action="goInAddNext" style="background-color: #ccc;" id="sub">下一步</div>-->

<!--<script type="text/javascript" src="js/tool/jquery-1.11.3.min.js"></script>-->
<!--<script src="js/tong_js.js"></script>-->
<!--<script type="text/javascript">-->
	<!--$(function(){-->
		<!--$('.addZone .list input').focus();-->

		<!--$('.clear').click(function(){-->
			<!--$('#BankCardNumber').val("");-->
			<!--$('.addZone .list input').focus();-->
		<!--})-->
	<!--})-->
<!--</script>-->
